<?php
return array(
	'appsignature' => 'none', 
	'clientid' => 'CCCCCCCCCCCCCCCCCCCCCCC',
	'clientsecret' => 'CCCCCCCCCCCCCCCCCCCCCCC',
	'defaultwsdl' => 'https://webservice.exacttarget.com/etframework.wsdl'
);

?>
